<html ng-app="MyApp">
<head>
	<title>MyClockApplication</title>
	<script src="angular.min.js"></script>
	<script src="Clock1.js"></script>
</head>
<body>
	<div ng-controller="MyFun">
	<p> Enter Your Name By AngularJS <input ng-model="userName"type="text"/></p>
	<p> Enter Your Name By Using Java Script <input id="ulhas" type="text"/></p>
	<p> The Date is : {{date1}}</p>
	<p> Your name is {{userName}}</p>
	<button ng-click="updateTime()">GetCurrentTime</button>
	<p>Value of name is
		<script script type="text/javascript">
			 document.write(name);
		</script>
	</p>
	</div>
	
</body>
</html>